@using KHtmx.Components.Utility.Data
@switch (LabelType)
{
    // TODO: Improve the styling of the floating label
    case LabelType.Floating:
        <div class="floating-label relative">
            <label for="@Id" class="absolute transition-all duration-200 ease-in-out p-1 pointer-events-none text-gray-500">@Label</label>
            <input id="@Id" placeholder="@Label" @attributes="AdditionalAttributes" class="placeholder-transparent p-1 border-b-2 border-gray-300 focus:border-blue-500 transition-all duration-200 focus:outline-none bg-transparent" />
            @ChildContent
        </div>
        break;

    case LabelType.Inline:
        <div class="flex flex-row gap-2">
            <label for="@Id">@Label</label>
            <input id="@Id" @attributes="AdditionalAttributes" placeholder="@Label" />
            @ChildContent
        </div>
        break;

    default:
        throw new ArgumentOutOfRangeException();
}

@code {

    [Parameter, EditorRequired] public string Id { get; set; } = string.Empty;

    /// <summary>
    /// Label and Placeholder for the input
    /// </summary>
    [Parameter, EditorRequired]
    public string Label { get; set; } = string.Empty;

    [Parameter] public LabelType LabelType { get; set; } = LabelType.Floating;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new();

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

}
