@using Humanizer
@using KHtmx.Comments
@using KHtmx.Constants
@using KHtmx.Persistence
@using KHtmx.Domain.Comments
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<KhDbContext> DbContextFactory
@inject ILogger<CommentTable> Logger
@inject LinkGenerator LinkGenerator

<table
    class="w-full text-left"
    hx-swap="outerHTML"
    hx-trigger="sse:@ServerSentEventNames.CommentAdded, sse:@ServerSentEventNames.CommentDeleted, sse:@ServerSentEventNames.CommentUpdated"
    hx-get="@LinkGenerator.GetPathByName(CommentsEndpointExtensions.GetCommentsTableEndpointName)">
    <colgroup>
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr
            class="bg-gray-600 text-white">
            <th
                scope="col">
                Author
            </th>
            <th
                scope="col">
                Text
            </th>
            <th
                scope="col">
                Timestamp
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Comments is [])
        {
            <tr>
                <td
                    colspan="3">
                    No comments yet - be the first!
                </td>
            </tr>
        }
        else
        {
            foreach (var comment in Comments)
            {
                <tr
                    class="[&:nth-child(odd)]:bg-gray-300 [&:nth-child(even)]:bg-gray-100 [&:has(button:focus)]:bg-gray-400">
                    <td>
                        <button
                            class="focus:outline-none"
                            id="tr_btn_@comment.Id"
                            hx-trigger="click"
                            hx-target="#home"
                            hx-swap="beforeend"
                            hx-get="@LinkGenerator.GetPathByName(CommentsEndpointExtensions.GetCommentDialogEndpointName, new { id = comment.Id })">
                            @comment.AuthorFirstName @comment.AuthorLastName
                        </button>
                    </td>
                    <td>
                        @comment.Text
                    </td>
                    <td>
                        <time
                            datetime="@comment.Timestamp.ToString("o")"
                            title="@comment.Timestamp.ToString("G")">
                            @comment.Timestamp.Humanize(DateTimeOffset.Now)
                        </time>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    private IReadOnlyList<CommentTableDto> Comments { get; set; } = ArraySegment<CommentTableDto>.Empty;

    protected override async Task OnInitializedAsync()
    {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        var comments = await dbContext.Comments
            .OrderByDescending(comment => comment.Timestamp)
            .Take(10)
            .Select(x => new
            {
                Id = x.Id,
                Text = x.Text,
                Author = dbContext.Users
                    .FirstOrDefault(user => user.Id == x.AuthorId),
                Timestamp = x.Timestamp
            })
            .ToListAsync();

        Comments = comments.Select(x => new CommentTableDto
        {
            Id = x.Id,
            Text = x.Text,
            AuthorFirstName = x.Author?.FirstName ?? "Unknown",
            AuthorLastName = x.Author?.LastName ?? "Unknown",
            Timestamp = x.Timestamp,
        }).ToArray();


        await base.OnInitializedAsync();
    }

}
