@using KHtmx.Comments
@using KHtmx.Constants
@using KHtmx.Persistence
@using KHtmx.Domain.People
@using KHtmx.Posts
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Humanizer
@inject LinkGenerator LinkGenerator
@inject IDbContextFactory<KhDbContext> DbContextFactory
@inject IHttpContextAccessor HttpContextAccessor
@inject IServiceScopeFactory ServiceScopeFactory

<table
    class="w-full text-left"
    hx-swap="outerHTML"
    hx-trigger="sse:@ServerSentEventNames.CommentAdded, sse:@ServerSentEventNames.CommentDeleted, sse:@ServerSentEventNames.CommentUpdated"
    hx-get="@(LinkGenerator.GetPathByName(PostEndpoints.GetPostTable.EndpointName) + Filter?.QueryString)">
    <!-- TODO: Figure out how to somehow only listen to the SSEs that are relevant to the filter. -->
    <colgroup>
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr
            class="bg-gray-600 text-white">
            <th
                scope="col">
                Author
            </th>
            <th
                scope="col">
                Text
            </th>
            <th
                scope="col">
                Timestamp
            </th>
        </tr>
    </thead>
    <tbody>
        @if (_posts is [])
        {
            <tr>
                <td
                    colspan="3">
                    No posts found.
                </td>
            </tr>
        }
        else
        {
            foreach (var post in _posts)
            {
                <tr
                    class="odd:bg-gray-300 even:bg-gray-100 [&:has(button:focus)]:bg-gray-400">
                    <td
                    >
                        <button
                            class="focus:outline-none"
                            id="tr_btn_@post.Id"
                            hx-trigger="click"
                            hx-target="body"
                            hx-swap="beforeend"
                            hx-get="@LinkGenerator.GetPathByName(CommentEndpoints.GetCommentDialog.EndpointName, new { id = post.Id })">
                            @post.AuthorFirstName @post.AuthorLastName
                        </button>
                    </td>
                    <td>
                        @post.Title
                    </td>
                    <td>
                        <time
                            datetime="@post.CreatedAt.ToString("o")"
                            title="@post.CreatedAt.ToString("G")">
                            @post.CreatedAt.Humanize(DateTimeOffset.Now)
                        </time>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    [Parameter]
    public IPostTableFilter? Filter { get; set; }

    private IReadOnlyList<PostTableDto> _posts = [];

    protected override async Task OnInitializedAsync()
    {
        if (HttpContextAccessor.HttpContext?.User is not { Identity.IsAuthenticated: true } claimsPrincipal)
        {
            return;
        }

        using var serviceScope = ServiceScopeFactory.CreateScope();
        using var userManager = serviceScope.ServiceProvider.GetRequiredService<UserManager<KhtmxUser>>();
        if (await userManager.GetUserAsync(claimsPrincipal) is not {} user)
        {
            return;
        }

        await using var dbContext = await DbContextFactory.CreateDbContextAsync();

        var query = dbContext.Posts.AsQueryable();

        if (Filter is not null)
        {
            query = Filter.Apply(query);
        }

        var commentsFromDb = await query
            .OrderByDescending(x => x.CreatedAt)
            .Take(10)
            .Select(c => new
            {
                Id = c.Id,
                Text = c.Content,
                Author = dbContext.Users.FirstOrDefault(u => u.Id == c.AuthorId),
                CreatedAt = c.CreatedAt,
            })
            .ToListAsync();

        _posts = commentsFromDb
            .Select(c => new PostTableDto
            {
                Id = c.Id,
                Title = c.Text,
                AuthorFirstName = c.Author?.FirstName ?? "Unknown",
                AuthorLastName = c.Author?.LastName ?? "Unknown",
                CreatedAt = c.CreatedAt,
            })
            .ToList();
    }

}
